.footer{
    width: 100%;
    background-color: #f85555;
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer__item{
    width: 200px;
}